<h2>Linkable</h2>
{{bread-crumbs id="linkable"}}
<hr>

<h2>Not Linkable</h2>
{{bread-crumbs id="notLinkable" tagName="ul" linkable=false}}
<hr>

<h2>Custom block</h2>
{{#bread-crumbs id="customBlock" as |component route|}}
  {{#bread-crumb route=route breadCrumbs=component}}
    {{#if route.age}}
      <span title={{route.description}}>{{route.name}} ({{route.age}} years old)</span>
    {{else}}
      <span title={{route.description}}>{{route.name}}</span>
    {{/if}}
  {{/bread-crumb}}
{{/bread-crumbs}}
<hr>

<h2>Reverse (linkable)</h2>
{{bread-crumbs id="reverseLinkable" reverse=true}}
<hr>

<h2>Custom <code>crumbClass</code></h2>
{{bread-crumbs id="customCrumbClass" crumbClass="breadcrumb-item"}}
<hr>

<h2>Custom <code>linkClass</code></h2>
{{bread-crumbs id="customLinkClass" linkClass="breadcrumb-link"}}

{{outlet}}
