<h2>Bootstrap Linkable</h2>
{{bread-crumbs id="bootstrapLinkable"}}
<hr>

<h2>Bootstrap Not Linkable</h2>
{{bread-crumbs id="bootstrapNotLinkable" linkable=false}}
<hr>

<h2>Foundation Linkable</h2>
{{bread-crumbs id="foundationLinkable" tagName="ul" outputStyle="foundation"}}
<hr>

<h2>Foundation Not Linkable</h2>
{{bread-crumbs id="foundationNotLinkable" tagName="ul" outputStyle="foundation" linkable=false}}
<hr>

<h2>Custom block</h2>
{{#bread-crumbs id="customBlock" as |component route|}}
  {{#bread-crumb route=route breadCrumbs=component}}
    {{#if route.age}}
      <span title={{route.description}}>{{route.name}} ({{route.age}} years old)</span>
    {{else}}
      <span title={{route.description}}>{{route.name}}</span>
    {{/if}}
  {{/bread-crumb}}
{{/bread-crumbs}}
<hr>

<h2>Reverse (bootstrap linkable)</h2>
{{bread-crumbs id="reverseBootstrapLinkable" reverse=true}}
<hr>

<h2>Custom <code>crumbClass</code></h2>
{{bread-crumbs id="customCrumbClass" crumbClass="breadcrumb-item"}}
<hr>

<h2>Custom <code>linkClass</code></h2>
{{bread-crumbs id="customLinkClass" linkClass="breadcrumb-link"}}

{{outlet}}

{{#if errorTest}}
  {{link-to 'error link' 'foo.bar.baz.show-with-params' 1 class='error-link'}}
{{/if}}
